<!DOCTYPE html>
<html th:replace="~{layout/uiLayout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
   <div class="container">
       <h1>Hello <span th:text="${registerUser.username}"></span> Your order
           <span th:text="${products.size()}"></span> items</h1>

       <div class="row">
           <div class="col">
               <div class="card">
                   <div class="card-header">
                       <h4>Order Summary</h4>
                   </div>
                   <table>
                      <thead>
                      <tr>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>price</th>
                      </tr>
                      </thead>
                       <tbody>
                        <tr th:each=" pro : ${products}">
                            <td th:text="${pro.bookTitle}"></td>
                            <td th:text="${pro.quantity}"></td>
                            <td th:text="${pro.price}"></td>

                        </tr>
                       </tbody>
                   </table>
                   <h3>Total Price:
                        <span th:text="${'$' +totalPrice}"></span>
                   </h3>
               </div>
           </div>
       </div>
   </div>
</main>
</body>
</html>