<!DOCTYPE html>
<html th:replace="~{layout/uiLayout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container nt-5">
        <div class="row">
            <div class="offset-3 col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Products
                            <span th:text="${#authentication.name} "></span>
                        </h4>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>BookTitle</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="pro :${products}">
                                <td th:text="${pro.id}"></td>
                                <td th:text="${pro.boolTitle}"></td>
                                <td th:text="${pro.price}"></td>
                                <td th:text="${pro.quantity}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>